div{
    border: 2px solid black;
    width: 500px;
    height: 200px;
    background-image: linear-gradient(to top right,rgba(250,0,0,0.8),pink);
    background-image: radial-gradient(circle,red,pink);
    background-image:conic-gradient(from 40deg at 0 0,red,blue);
}
